.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: right;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-nav {
  font-size: large;
  float: left;
  list-style-type: none;
}
.App-content {
  border: 1px solid black;
  width: 80%;
  height: 635px;
  margin: auto;
  margin-top: 25px;
  margin-left: 220px;

} 
.App-button {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  margin: 5px;
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
