.App {
  text-align: center;
  background-color: lightgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: right;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-nav {
  font-size: large;
  float: left;
  list-style-type: none;
}
.App-content {
  border: 2px solid black;
  width: 80%;
  height: 635px;
  margin: auto;
  margin-top: 25px;
  margin-left: 220px;

} 
.App-button {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  margin: 5px;
  font-size: large;
  color: white;
  border-radius: 15px;
  background-color: black;
}

.App-content1, .App-content2, .App-content3 {
  border: 5px solid black;
  border-radius: 150px;
  width: 200px;
  height: 200px;
  margin: 40px;
  margin-left: 40px;
  display: inline-block;
}

.App-picture {
  margin: 30px;
  width: 40%;
  height: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
